<section class="page-section text-dark mb-0" id="about">
    <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-dark add-space">About</h2>
        <!-- About Section Images-->
        <div class="row">
        <div class="col-sm-4">
            <img src="/assets/images/IMG_3410.JPG" class="img-fluid rounded shadow" width="96%">
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/kumu-drum2.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/IMG_2431.JPG" class="img-fluid rounded shadow" width="90%">
        </div>
        </div>
    <!-- About Section Content-->
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <div class="text-container">
                <p><span class="kumu">Kumu Hula Mapuana Samonte-Nowak</span> was born and raised in Lahaina, Maui, Hawaii. She was formally trained by Kumu Hula Emma Farden-Sharpe of Lahaina, Maui from the tender age of 3.
                As a child, she spent much time with her grandmother, Helen Kapehe Ku'uleialoha Ching, who inspired her to perpetuate Hawaiian culture and hula. In her honor and memory she named Halau Hula Malani O Kapehe.</p>
                <p>Kumu believes that preserving Hawaiian culture of the past and integrating modern methods of dance, ensures a living tradition of Hula.
                Kumu and her family are committed to keep the Hawaiian culture alive.  Her extensive Hula genealogy bring extensive tradition and knowledge for future generations to preserve and perpetuate Hawaiian Culture through halau.</p></div>
        </div>
    </div>
</div>
</section>
    <div class="container text-center">  
        <img class="lehua-div" src="/assets/images/lehua-removebg-preview.png" width="4%">
    </div>