 <section class="page-section" id="alakai">
    <div class="container align-items-center">
        <h2 class="page-section-heading text-center text-uppercase text-dark add-space">Alaka'i</h2>
        <div class="row d-flex align-items-center">
            <div class="col-sm-6">
                <div class="card shadow">
                    <div class="card-body">
                        <img src="/assets/images/cheryl.png" class="rounded-circle" width="50%"/>
                        <h2 class="add-space">Cheryl Dang</h2>
                        <p class="text-secondary">As Alaka`i for Halau Hula Malani O Kapehe, my passion for hula is able to grow. I began dancing hula in 2002 with Kumu Mapuana Samonte and also briefly with Kumu Keli`i Taua. Through every challenge and inspiration that comes with growth, I aspire to share my love of hula, oli, Hawaiian culture and values in the same manner that was taught to me... with compassion and aloha.</p>
                    <br><br><br><br><br>
                    </div>
                </div>
            </div>
    <div class="col-sm-6">
        <div class="card shadow">
            <div class="card-body">
                <img src="/assets/images/kaimana.png" class="rounded-circle" width="50%"/>
                <h2 class="add-space">Kaimana Nakamura</h2>
                <p class="text-secondary">I have been with Halau Hula Malani O Kapehe for 20 years along with my daughter Kira. I assist Kumu with registration of new students and Halau communications. Kumu gives so much more than the steps to a dance, she shares and teaches us to explore the deeper meaning of mele allowing an exploration of its history and deeper meaning. Halau enriches our lives and guides us to seek the values and teachings of Hawaiian Culture. Hula is a way of life, a way of celebrating a culture, rich in wisdom, humbleness, and appreciation of the land and the sacred breath of Life ~ Aloha.</p>
            </div>
        </div>
    </div>
</div>
</div>
</section>